@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/space-mono-v12-latin-regular.woff2") format("woff2"), url("../fonts/space-mono-v12-latin-regular.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* space-mono-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/space-mono-v12-latin-700.woff2") format("woff2"), url("../fonts/space-mono-v12-latin-700.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: flex;
}

main {
  flex-grow: 1;
}

body {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  background: #f2f2f2;
  font-family: "Space Mono";
}

.container {
  width: 100%;
  max-width: 778px;
  margin-top: 90px;
  padding-left: 24px;
  padding-right: 24px;
  display: flex;
  flex-direction: column;
}

.header {
  padding-bottom: 35px;
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__moon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
  font-weight: 700;
  font-size: 1.3rem;
  line-height: 1.9rem;
  color: #697c9a;
}

.hero__container {
  padding: 9px 10px 9px 32px;
  width: 100%;
  display: flex;
  align-items: center;
  background: #fefefe;
  box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.198567);
  border-radius: 15px;
}
.hero__container img {
  margin-right: 2.6rem;
}
.hero__input {
  width: 100%;
  outline: none;
  border: 0;
  margin-right: auto;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.5rem;
  color: #4b6a9b;
}
.hero__button {
  border: 0;
  background: #0079ff;
  padding: 13px 24px;
  border-radius: 10px;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: #ffffff;
  line-height: 24px;
}

.meduza {
  width: 117px;
  height: 117px;
  margin-right: 37px;
}

.card {
  width: 100%;
  margin-top: 24px;
  padding: 0 48px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 16px 30px rgba(70, 96, 187, 0.2);
  border-radius: 15px;
  background: #fefefe;
}

.servis {
  display: flex;
  align-items: flex-start;
  margin: 48px 0 21px 0;
}
.servis__content {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.servis__title {
  font-weight: 700;
  font-size: 2.6rem;
  line-height: 3.9rem;
  color: #2b3442;
}
.servis__link {
  display: inline-block;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: #0079ff;
  margin-top: 2px;
  margin-bottom: 20px;
}
.servis__date {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2.2rem;
  color: #697c9a;
}

.servis__desc {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2.5rem;
  color: #4b6a9b;
  opacity: 0.75;
  margin-bottom: 3.2rem;
}

.user__info {
  padding-left: 156px;
  padding-bottom: 24px;
  transform: translateY(-50px);
}

.instagram {
  display: flex;
  justify-content: flex-start;
  gap: 82px;
  background: #f6f8ff;
  border-radius: 10px;
  padding: 15px 0 17px 32px;
}
.instagram__post h3 {
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 1.9rem;
  color: #4b6a9b;
}
.instagram__post h4 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2.2rem;
  line-height: 3.3rem;
  color: #2b3442;
}

.links {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "item1 item2" "item3 item4";
  margin-top: 3.7rem;
  row-gap: 1.9rem;
}
.links__info {
  display: flex;
  align-items: center;
  gap: 19px;
}
.links__info p {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2.2rem;
  color: #4b6a9b;
}
.links .text {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2.2rem;
  color: #4b6a9b;
}

@media (max-width: 768px) {
  .user__info {
    padding-left: 0px;
    padding-bottom: 24px;
    transform: translateY(0px);
  }
  .servis__content {
    flex-direction: column;
  }
  .servis__date {
    margin: 0;
  }
}
@media (max-width: 550px) {
  .servis__link {
    margin-bottom: 4px;
  }
  .user__info {
    padding: 0 24px;
  }
  .servis__desc {
    margin-top: 2.4rem;
  }
  .instagram {
    gap: 0;
    justify-content: space-around;
  }
  .links {
    grid-template-columns: 1fr;
    grid-template-areas: "item1" "item2" "item3" "item4";
  }
  .card {
    padding: 0;
  }
  .servis {
    padding-left: 24px;
    padding-right: 2.4rem;
  }
}
@media (max-width: 375px) {
  .meduza {
    width: 70px;
    height: 70px;
    margin-right: 1.9rem;
  }
  .servis__title {
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: #2b3442;
  }
  .servis__link {
    font-size: 13px;
    line-height: 19px;
  }
  .servis__date {
    font-size: 13px;
    line-height: 19px;
  }
  .hero__input {
    width: 100%;
    font-size: 13px;
    line-height: 25px;
    margin-right: 7px;
  }
  .hero__button {
    font-size: 14px;
    line-height: 21px;
  }
  .servis__desc {
    margin-bottom: 2.3rem;
    font-size: 13px;
    line-height: 25px;
  }
  .instagram__post h3 {
    font-size: 11px;
    line-height: 16px;
  }
  .instagram__post h4 {
    font-size: 16px;
    line-height: 24px;
  }
  .servis {
    padding-left: 24px;
    padding-right: 2.4rem;
  }
  .card {
    padding: 0;
  }
  .hero__container img {
    margin-right: 1.1rem;
  }
}/*# sourceMappingURL=main.css.map */