.header {
  padding-bottom: 35px;
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__moon {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;
    @include font(700, 1.3rem, 1.9rem, #697c9a);
  }
}
