*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: flex;
}
main {
  flex-grow: 1;
}

body {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  background: #f2f2f2;
  font-family: "Space Mono";
}

.container {
  width: 100%;
  max-width: 778px;
  margin-top: 90px;
  padding-left: 24px;
  padding-right: 24px;
  display: flex;
  flex-direction: column;
}
